* {
  font-family: monospace;
  /* min-width: 0; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100vw;
  height: auto;
  background: #f4bd07;
  position: fixed;
  width: 100%;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  background: #f4bd07;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 100;
  text-decoration: none;
  border-bottom: 1px solid black;
  padding: 10px;
}
.navbar div {
  color: black;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f4bd07;

  border-top: 1px solid black;
  /*  border-top: 1px solid #f44606; */
  height: 50px;
  box-shadow: 0px 0px 5px black;
}
.socials {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
  color: #f44606;
  color: #000000;
  margin: 0 44px 0 0;
}
.icon {
  width: 40px;
  height: 40px;
  color: #f44606;
  /* color: #000000; */
}
.logo {
  color: rgb(0, 0, 0);
  font-size: 40px;
  margin: 0 0 0 20px;
  text-decoration: none;
  font-family: monospace;
}
.menuItems ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  color: black;
  list-style-type: none;
  text-decoration: solid;
  margin: 0 20px 0 0;
}

.onlyBubble {
  box-shadow: 5px 5px 1px black;
}
.activeLink {
  text-decoration: underline;
}
.link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  /* box-shadow: 5px 5px 1px black; */
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 100px;
}

.dropdownContent {
  display: none;
  position: absolute;
  flex-direction: column;
  background: #f4bd07;
  min-width: 160px;
  margin: 40px -60px 0 -30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  box-shadow: 5px 5px 1px black;
}
.dropdownContent a {
  margin: 10px;
}
.dropdown:hover .dropdownContent {
  display: flex;
}
.bubble {
  color: rgb(0, 0, 0);
  background: black;
  background: #f44606;
  background: #f4bd07;
  padding: 10px;
  border-radius: 20px;
}
.hamburger {
  z-index: 1000;
  display: none;
}
.hamburger svg {
  width: 40px;
  display: none;
}
.menuItemsHamburger {
  width: 100vw;
  height: 100vh;
  background: #f4bd07;
  display: none;
  position: absolute;
  top: 50px;
  left: 0px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.show {
  display: flex;
}
.menuItemsmobile ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 890px) {
  .logo {
    font-size: 20px;
  }
  .menuItems ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    color: black;
    list-style-type: none;
    text-decoration: solid;
    margin: 0 20px 0 0;
  }
}
@media (min-width: 490px) {
  .show {
    display: none;
  }
}
@media (max-width: 490px) {
  .logo {
    font-size: 20px;
  }
  .logo svg {
    display: none;
  }
  .menuItems ul {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    color: black;
    list-style-type: none;
    text-decoration: solid;
    margin: 0 20px 0 0;
  }
  .hamburger {
    display: flex;
  }
  .hamburger svg {
    width: 40px;
    display: flex;
  }
}

/* transposer */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 100px);
  margin: 10px 0 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.layout {
  width: 100vw;
  height: calc((100vh - 100px) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputcontainer {
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textArea {
  width: 90vw;
  height: 300px;
  border: none;
  border-radius: 50px;
  background: #f4bd06;
  box-shadow: 20px 20px 60px #cfa105, -20px -20px 60px #ffd907;
  box-shadow: 10px 10px 1px #cfa105, -10px -10px 10px #cfa105;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 20px;
  text-align: center;
}
.textArea::-webkit-scrollbar {
  width: 0px;
  background: #f4bd07;
  box-shadow: 20px 20px 60px #232322, -20px -20px 60px #262625;
}

.chords {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  height: calc((100vh - 100px) / 2);
  border-radius: 50px;
  background: #f4bd06;
  box-shadow: 20px 20px 60px #cfa105, -20px -20px 60px #ffd907;
  box-shadow: 10px 10px 1px #cfa105, -10px -10px 10px #cfa105;
  overflow-y: scroll;

  margin: 60px 0 60px 0;
}
.chords::-webkit-scrollbar {
  width: 0px;
  background: #f4bd07;
  box-shadow: 20px 20px 60px #232322, -20px -20px 60px #262625;
}

.fretboardWithX {
  display: flex;
}
.Xspot {
  display: flex;
  flex-direction: column;
}
.Xspot div {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(128, 128, 128, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0 10px 0 0;
}
.noShow {
  color: rgba(240, 248, 255, 0);
}
.chord {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 100px 0 0;
  /* border: 1px solid black; */
}
.chordName {
  margin: 0 0 10px 25px;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 1px black;
  border: 1px solid black;
  padding: 0 20px;
}
.string {
  display: flex;
}
.fret {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(7, 7, 7);
  width: 20px;
  height: 20px;
}
.active {
  background: rgb(75, 75, 75);
  border-radius: 10px;
  border-radius: 50px;
  background: #f4bd06;
  box-shadow: 1px 1px 1px #262626, -3px -3px 1px #313131;
}
.fretNumbers {
  display: flex;
  margin: 0 0 0 32px;
}
.fretNumbers div {
  border: 1px solid rgba(128, 128, 128, 0);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  width: 100vw;
  height: 100px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
  flex-wrap: wrap;
}
.buttons button {
  margin: 20px 20px 0 0;
  background: #f4bd06;
  background: #f44606;
  padding: 10px;
  height: 50px;
  box-shadow: 20px 20px 60px #cfa105, -20px -20px 60px #ffd907;
  box-shadow: 5px 5px 1px black;
  border-radius: 10px;
  /* border: 5px solid rgb(255, 192, 3); */
}
.buttons button svg {
  font-size: 30px;
}
.buttons button .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
@media (max-height: 750px) {
  .landingPage {
    height: calc(100vh - 110px);
    margin: 60px 0 0 0;
  }
  .container {
    height: 100%;
  }
  .layout {
    height: 200px;
  }
  .inputcontainer {
    height: 200px;
  }
  .textArea {
    height: 80%;
  }
  .buttons {
    height: 110px;
  }
  .buttons button {
    padding: 0px;
    height: 30px;
  }
}
/* Chord */
/* .chords {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  height: 400px;
  border-radius: 50px;
  background: #f4bd06;
  box-shadow: 20px 20px 60px #cfa105, -20px -20px 60px #ffd907;
  box-shadow: 10px 10px 1px #cfa105, -10px -10px 10px #cfa105;
  overflow-y: scroll;
  position: relative;
  margin: 60px 0 60px 0;
} */
.chords::-webkit-scrollbar {
  width: 0px;
  background: #f4bd07;
  box-shadow: 20px 20px 60px #232322, -20px -20px 60px #262625;
}
.chordName {
}
.fretboardWithX {
  display: flex;
}
.Xspot {
  display: flex;
  flex-direction: column;
}
.Xspot div {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(128, 128, 128, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0 10px 0 0;
}
.noShow {
  color: rgba(240, 248, 255, 0);
}
.chord {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 100px 0 0;
  /* border: 1px solid black; */
}
.chordName {
  margin: 0 0 30px 25px;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 1px black;
  border: 1px solid black;
  padding: 0 20px;
}
.string {
  display: flex;
}
.fret {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(7, 7, 7);
  width: 20px;
  height: 20px;
}
.active {
  background: rgb(75, 75, 75);
  border-radius: 10px;
  border-radius: 50px;
  background: #f4bd06;
  background: #000000;
  background: #f44606;
  /* box-shadow: 1px 1px 1px #262626, -3px -3px 1px #313131; */
}
.fretNumbers {
  display: flex;
  margin: 0 0 0 32px;
}
.fretNumbers div {
  border: 1px solid rgba(128, 128, 128, 0);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Login */
.loginContainer {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.loginForm input {
  all: unset;
  color: white;
  box-shadow: 1px 1px 10px black;
  color: white;
  border-radius: 20px;
  background: #222326;
  border: none;
  height: 50px;
}
.loginForm button {
  margin: 50px 0 0 0;
  color: white;
  box-shadow: 1px 1px 10px black;
  color: white;
  border-radius: 20px;
  background: #222326;
  border: none;
  height: 50px;
}

/* Register */

.registerContainer {
  margin-top: 100px;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registerForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.registerForm input[type='text'] {
  color: white;
  box-shadow: 1px 1px 10px black;
  color: white;
  border-radius: 20px;
  background: #222326;
  border: none;
  height: 50px;
}
.registerForm input[type='email'] {
  color: white;
  box-shadow: 1px 1px 10px black;
  color: white;
  border-radius: 20px;
  background: #222326;
  border: none;
  height: 50px;
}
.registerForm input[type='password'] {
  color: white;
  box-shadow: 1px 1px 10px black;
  color: white;
  border-radius: 20px;
  background: #222326;
  border: none;
  height: 50px;
}
.registerForm button {
  margin: 50px 0 0 0;
  color: white;
  box-shadow: 1px 1px 10px black;
  color: white;
  border-radius: 20px;
  background: #222326;
  border: none;
  height: 50px;
}

/* Modal */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 30vh;
  /* border: 2px solid black; */
  background: #f4bd07;
  box-shadow: 10px 10px 1px black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}
.btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  font-size: 30px;
  margin: 10px;
}
.Label {
  width: 20vw;
}
.loginBtn {
  border: none;
  padding: 20px;
  background: #f44607;
  border-radius: 10px;
  box-shadow: 5px 5px 1px black;
}

/* overlay */
.overlay {
  width: 100vw;
  height: 100vh;
  background: #f4460798;
  /* filter: blur(40px); */
  position: absolute;
  top: 0;
  left: 0;
}

/* savedChords */

.sc_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc((100vh - 100px));
  margin: 60px 0 0 0;
}

.savedchords {
  margin: 100px 0 0 0;

  display: flex;
  flex-direction: column;
}
.tabTitle {
  box-shadow: 10px 10px 10px black;
  margin: 0 20px 0 0;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0 20px 100px;
}
.tabs div {
  padding: 10px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0);
}
.tabs div:hover {
  border: 3px solid black;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 300px);
}
.sc_chords {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  height: 400px;
  border-radius: 50px;
  background: #f4bd06;
  box-shadow: 20px 20px 60px #cfa105, -20px -20px 60px #ffd907;
  box-shadow: 10px 10px 1px #cfa105, -10px -10px 10px #cfa105;
  overflow-y: scroll;

  margin: 0 0 0px 0;
}
.chords::-webkit-scrollbar {
  width: 0px;
  background: #f4bd07;
  box-shadow: 20px 20px 60px #232322, -20px -20px 60px #262625;
}
.chordName {
  margin: 0 0 10px 25px;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 1px black;
  border: 1px solid black;
  padding: 0 20px;
}
.fretboardWithX {
  display: flex;
}
.Xspot {
  display: flex;
  flex-direction: column;
}
.Xspot div {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(128, 128, 128, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0 10px 0 0;
}
.noShow {
  color: rgba(240, 248, 255, 0);
}
.chord {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 100px 0 0;
}
.string {
  display: flex;
}
.fret {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(7, 7, 7);
  width: 20px;
  height: 20px;
}
.active {
  background: rgb(75, 75, 75);
  border-radius: 10px;
  border-radius: 50px;
  background: #f4bd06;
  background: #f44606;
  /* box-shadow: 1px 1px 1px #262626, -3px -3px 1px #313131; */
}
.fretNumbers {
  display: flex;
  margin: 0 0 0 32px;
}
.fretNumbers div {
  border: 1px solid rgba(128, 128, 128, 0);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lyrics {
  display: flex;
  width: 100vw;
  height: calc(100vh - 200px);
}
.sc_layout {
  width: 100vw;
  height: calc((100vh - 100px) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputTitle {
  border: none;
  height: 50px;
  background: #f4bd06;
  color: white;
  padding: 10px;
  box-shadow: 5px 5px 1px black;
  border-radius: 10px;
}
